<header id="frame">
    <strong>Chujowy Launcher</strong>
    <div id="frameButtons">
        <button id="repairLauncher" class="frameRepair" type="button">Napraw</button>
        <button id="frameMinimize" type="button">_</button>
        <button id="frameClose" type="button">x</button>
    </div>
</header>
